doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    script(type='text/javascript' src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  body
    block content